.keywords {
	padding: 0;
}
.minMarginTop {
	margin-top: 15px;
}
#createChart {
	height: 2em;
	color: black;
	background-color: #009688;
}

#createChart:hover {
	color: white;
}

input.field {
	width: 100%;
}

input.field-half {
	width: 49%;
}

.inputRow {
	border-bottom: 2px;
	border-bottom-color: grey;
	border-bottom-style: solid;
	padding: 0 0.5% 0 0.5%;
}

