.minMarginTop {
	margin-top: 15px;
}

.minPaddingBottom {
	padding-bottom: 10px;
}

#chartContainer {
	margin-top: 30px;
}

#buttonShowChart {
	height: 2em;
	color: black;
	background-color: #7cb5ec;
}

#buttonShowChart:hover {
	color: white;
}

#legend-container{
    text-align: center;
    font-size: 1.3em;
}
        

#filter-options {
	height: auto;
	margin-bottom: 20px;
}

#requestselector {
	margin-top: 550px;
}

input.field {
	width: 100%;
}

.field-half {
	width: 49%;
}

.inputRow {
	border-bottom: 2px;
	border-bottom-color: grey;
	border-bottom-style: solid;
}

#queryListContainer{
	margin-bottom: 20px;
}

#querylist {
	list-style-type: none;
	padding-left: 0;
}

h1 {
	text-align: center;
}

