html, body {
	height:100%
}

.blue {
	color: white;
	background-color: blue;
}

header {
	text-align: center;
}

header h1 {
	margin-bottom: 0px;
}

nav {
	padding-left: 0;
	height: 100%;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

nav ul li {
	text-align: center;
	border-style:solid;
	border-color: white;
	border-width: 3px;
	padding: 20% 0% 20% 0%;
	margin: 2px 0px 2px 0px;
}

nav ul li:hover {
	cursor: pointer;
}

.keywords {
	padding: 0;
}
.minMarginTop {
	margin-top: 15px;
}
#createChart {
	height: 2em;
	color: white;
	background-color: blue;
}