<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OPAC Data</title>
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Normalize CSS -->
	<link href="css/normalize.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
	<main>
		<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#start">
                        OPAC Daten
                    </a>
                </li>
                <li>
                    <a href="#static1">HTML - HTML5 - CSS</a>
                </li>
                <li>
                    <a href="#static2">Bücher - elektronische Ressource</a>
                </li>
                <li>
                    <a href="#static3">Top Verlage</a>
                </li>
                <li>
                    <a href="#static4">Verteilung der Sprache</a>
                </li>
				<li>
                    <a href="#filter-options">eigene Filter</a>
                </li>
                <li>
                    <a href="#">Impressum</a>
                </li>
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    
			<content id="page-content-wrapper">
				<div id="main-content" class="container-fluid">
				<!-- #start -->
					<div id="start" class="content panel panel-default">
						<div class="panel-heading">
							<h1>Willkommen!</h1>
						</div>
						<div class="panel-body">
                        <p>Dieser Teil des OPAC Datensatzes enthält alle Bücher aus dem Fachbereich der Informatik. Mit diesem Tool kann der Datensatz explorativ untersucht werden. Ausgangspunkt bildet die Visualisierung der Bücher, verteilt auf die unterschiedlichen Bibliotheken. Über das Dropdown-Menü kann die Einheit der x-Achse beliebig verändert werden. Über den Navigationspunkt "eigene Filter" kann der Datensatz nach Stichwörtern und anderen Filteroptionen durchsucht werden. Statische Graphiken interessanter Zusammenhänge lassen sich über die Navigationsleiste finden.<br></br>
                    <b>Anzahl der Daten:</b> 24194 gespeicherte Ressourcen<br></br>
                <b>Fachrichtung:</b> Informatik (Monographien)</p>
					</div>	
				</div>
					
				<!-- #filteroptions -->
					<div>
                        <ul id="querylist">
                            
                        </ul>
						<button id="button-show-filter" type="button" class="btn btn-default btn-lg minMarginTop content hide" data-toggle="tooltip" data-placement="left" title="Filter anzeigen" aria-label="Filter">
  <span class="glyphicon glyphicon-plus-sign minPaddingTop" aria-hidden="true"></span>
</button>
                    </div>
					<div id="filter-options" class="hide content container-fluid"> <!-- hidden at beginning -> show only onclick ownfilter -->
					<div id="inputs" class="inputRow minPaddingBottom">
					<div class="row">
					<div class="col-md-3 keywords">
						<input id="kw1" class="field" type="text" placeholder="Stichwort">
						<input id="kw2" class="field" type="text" placeholder="Stichwort">
					</div>
					<div class="col-md-3">
						<input id="author" class="field" type="text" placeholder="Autor">
					</div>
					<div class="col-md-3">
						<input id="publisher" class="field" type="text" placeholder="Verlag">
					</div>
					<div class="col-md-3">
						<input id="place" class="field" type="text" placeholder="Verlagsort">
					</div>
					</div>
						<div class="row minMarginTop">
							<div class="col-md-3">
								<div class="dropdown field-half" id ="language-dropdown-container">
  <button class="btn btn-default dropdown-toggle" type="button" id="language-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sprache
    <span class="caret"></span>
  </button>
  <ul id="language-dropdown" class="dropdown-menu" aria-labelledby="Sprache">
    <li><a>all</a></li>
    <li><a>ger</a></li>
    <li><a>eng</a></li>
    <li><a>ita</a></li>
	<li><a>spa</a></li>
	<li><a>dut</a></li>
	<li><a>gre</a></li>
	<li><a>fre</a></li>
	<li><a>rus</a></li>
	<li><a>pol</a></li>
	<li><a>dan</a></li>
  </ul>
</div>
													<div class="dropdown field-half" id ="medium-dropdown-container">
  <button class="btn btn-default dropdown-toggle" type="button" id="medium-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Medium
    <span class="caret"></span>
  </button>
  <ul id="medium-dropdown" class="dropdown-menu" aria-labelledby="Medium">
    <li><a>all</a></li>
    <li><a>book</a></li>
    <li><a>ebook</a></li>
    
  </ul>
</div>
							</div>
							<div class="col-md-3">
								<input id="yearMin" class="field-half" type="number" placeholder="min Jahr">
								<input id="yearMax" class="field-half" type="number" placeholder="max Jahr">
							</div>
							<div class="col-md-3">
								<input id="pagesMin" class="field-half" type="number" placeholder="min Seiten">
								<input id="pagesMax" class="field-half" type="number" placeholder="max Seiten">
							</div>
							<div class="col-md-3">
								<button id="button-compare" type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="right" title="Vergleichen" aria-label="Vergleichen">
  <span class="glyphicon glyphicon-menu-down minPaddingTop" aria-hidden="true"></span>
</button>
							</div>
						</div>
						
					
					</div>
					<button id="buttonShowChart" type="button" class="row col-md-3 col-md-offset-9 minMarginTop" id="createChart">Anzeigen</button>
					</div>
					
				<!-- #static1 -->
					<div id="static1" class="content hide"></div>
				<!-- #static2 -->
					<div id="static2" class="content hide"></div>
				<!-- #static3 -->
					<div id="static3" class="content hide"></div>
				<!-- #static4 -->
					<div id="static4" class="content hide"></div>
				<!-- chart -->
                    
					<div id="chartWrapper" class="row">
                    <!--<div class="content hide" id="legend-container">
                        <span id="staticText"></span>
                            <span id="data-one"></span>
                            <span id="data-two"></span>
                            <span id="data-three"></span>
                        <span id="staticTextTwo"></span>
                    </div>-->
                        
					<div id="chartContainer" class="col-md-10">
						
					</div>
					<div id="requestselector" class="col-md-2">
							<div class="dropup content" id="filterButton">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    x-Achse
    <span class="caret"></span>
  </button>
  <ul id="x-axis-drowdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a>Bibliotheken</a></li>
    <li><a>Seitenzahl</a></li>
    <li><a>Medium</a></li>
	<li><a>Sprache</a></li>
	<li><a>Erscheinungsjahr</a></li>
	<li><a>Stichwort</a></li>
  </ul>
</div>
					</div>
					
					
				</div>
			
    </content>
	
	</div>
	</main>
	<footer>
	
	</footer>
    
    <script id="queryTemplate" type="text/template">
	    <li class="row template">
            <p class="col-md-3">Stichwort:<%= kw1 %> <%= kw2 %></p>
            <p class="col-md-2">Author:<%= author %></p>
            <p class="col-md-2">Verlag:<%= publisher %></p>
            <p class="col-md-2">Ort:<%= place %></p>
			<div class="col-md-3">
				<button id="button-edit-<%= num %>" type="button" class="btn btn-default edit" data-toggle="tooltip" data-placement="left" title="bearbeiten" aria-label="bearbeiten">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
</button>
<button id="button-delete-<%= num %>" type="button" class="btn btn-default delete" data-toggle="tooltip" data-placement="left" title="bearbeiten" aria-label="bearbeiten">
  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
</button>
</div>   
		</li>
		<li class="row template">
			<p class="col-md-3">Jahr:<%= yearMin %>-<%= yearMax %></p>
            <p class="col-md-2">Seitenzahlen:<%= pagesMin %>-<%= pagesMax %></p>
			<p class="col-md-2">Sprache:<%= language %></p>
			<p class="col-md-2">Medium:<%= medium %></p>
        </li>
    </script>
    
    
    
    <script src="libs/jquery-2.1.3.js"></script>
	<script src="libs/bootstrap.min.js"></script>
    <script src="libs/underscore.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="src/OpacApp.js"></script>
    <script src="src/Controller.js"></script>
    <script src="src/ChartView.js"></script>
	<script src="src/UIView.js"></script>
    <script src="src/DataFetcher.js"></script>
	
 
    <script>
    $(function() {
    	App.init();
    });
    
    </script>
	
	
    
</body>
    
</html>